<!DOCTYPE html>
<html>
<head>
    <title>book page</title>
    <style>


    table {
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
 
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div style="display: flex; align-items: center;">
            <h2 style="margin-right: 10px;">Title:</h2>
            <div>{{title}}</div>
          </div>
        <div style="display: flex; align-items: center;">
            <h2 style="margin-right: 10px;">Isbn:</h2>
            <div>{{isbn}}</div>
          </div>
        <h2>Summary: </h2>
        <div style="max-width: 50vw;"><p>{{summary}}</p></div>
        <h2>Written by: </h2> <span>{{writers}}</span>
        <h2>Categories: </h2> <span>{{categories}}</span>
        <h2>Publisher: </h2> <span>{{publisher}}</span>
        <h2>Keywords: </h2> <span>{{keywords}}</span>
        <div style="display: flex; align-items: center;">
        <h2 style="margin-right: 10px;">Number of pages:</h2> {{no_pages}}</div>
        <div> <img src="{{image}}" alt="Image" style="max-width: 30vw; max-height: 30vh;"> </div>

  </div>
  <div><h2>Reviews:</h2> <br>
    <table>
      <tr>
        
        
        <th>Written by:</th>
        <th>Likert rating:</th>
        <th>Text:</th>
        
      </tr>
      
      {%for i in reviews%}
      <tr>
          <td>{{i[0]}}</td>
          
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          </tr>
        
      {% endfor %}  
  
  
      
    </table>

  </div>
</body>
</html>