<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <style>
        .top-right {
            position: absolute;
            top: 60px;
            right: 150px;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
    </style>
</head>
<body>
    <div class="top-right">
        <h1><a href="/register">Register</a></h1>
    </div>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="{{url_for('index') }}">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</body>
</html>