<head>
    <title>Operator page</title>
    <style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .buttons{
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 60px;
        font-size: 24px;
    }
    </style>
</head>
<body>
<div>
    <form action="{{url_for('books',arguement=arguement)}}" method = "POST">
        <a href="books.html"> <button type="submit" name="books" class = "buttons">books</button></a>
    </form>

    <form action="{{url_for('users_handler',arguement=arguement)}}" method = "POST">
        <a href="users2.html"> <button type="submit" name="users" class = "buttons">users_handler</button></a>
    </form>
    <form action="{{url_for('reviews')}}" method = "POST">
        <a href="reviews.html"> <button type="submit" name="reviews" class = "buttons">reviews</button></a>
    </form>
    <form action="{{url_for('borrowings',arguement=arguement)}}" method = "POST">
        <a href="borrowings.html"> <button type="submit" name="borrowings" class = "buttons">borrowings</button></a>
    </form>    
</div>
</body>
</html>
