<!DOCTYPE html>
<html>
<head>
    <title>popular category pairs page</title>

<style>
    table {
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
  </head>
  <body><div >
  <div style="max-width: 30vw;">Top 3 category pairs based on borrowings:</div>
  <table>
    <tr>
      
      
      <th>category 1</th>
      <th>category 2</th>
      <th>appearances in borrowings</th>
      
      
    </tr>
    
    
    
    <tr>
        <td>{{data[0][0]}}</td>
        
        <td>{{data[0][1]}}</td>
        <td>{{data[0][2]}}</td>
            
      </tr>

      <tr>
        <td>{{data[1][0]}}</td>
        
        <td>{{data[1][1]}}</td>
        <td>{{data[1][2]}}</td>
            
      </tr>
      <tr>
        <td>{{data[2][0]}}</td>
        
        <td>{{data[2][1]}}</td>
        <td>{{data[2][2]}}</td>
            
      </tr>

   


    
  </table>
</div>
</body>
</html>