<!DOCTYPE html>
<html>
<head>
    <title>admin page</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
    </style>
</head>
<body>
    <div class="container">

        <h3><a href="/schools">school information</a></h3>

        

        <h3><a href="/admin/insert_school"> insert school</a></h3>

        <h3><a href="/admin/operator_requests"> view operator registration requests</a></h3>

        <h3><a href="/admin/borrowings">borrowings</a></h3>

        <h3 style="max-width: 40vw;"><a href="/admin/writers_teachers">find the writers that belong in a category and the teachers who have borrowed books from this category this year</a></h3>

        <h3><a href="/admin/young_teachers">find young teachers</a></h3>

        <h3><a href="/admin/unpopular_writers">find writer whose books have not been borrowed</a></h3>

        <h3 style="max-width: 40vw;"><a href="/admin/operators_same_number">find operators that have approved the same number of borrowings</a></h3>

        <h3 style="max-width: 40vw;"><a href="/admin/popular_cat_pairs">find the three most popular category pairs</a></h3>

        <h3 style="max-width: 40vw;"><a href="/admin/writers_5_books_less">find the writers who have writen at least 5 less books than the writer with the most books</a></h3>

        
        <h3 style="max-width: 40vw;"><a href="/admin/backup">create backup</a></h3>

        <h3 style="max-width: 40vw;"><a href="/admin/restore">restore database</a></h3>
    </div>
</body>
</html>