<!DOCTYPE html>
<html>
<head>
    <title>create review page</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <form action="/user/{{username}}/review/{{isbn}}" method="POST">
            <div><h3>{{title}}</h3></div><br>
            <div> Your opinion: <br><textarea name="paragraph" rows="10" cols="50"></textarea></div><br>
            <div>How would you rate this book 1-5?<select name="likert" required>
                
                <option value="" disabled selected>likert value</option>
                {% for i in [1,2,3,4,5] %}
                <option value="{{i}}">{{i}}</option>
                {%endfor%}
            </select><br>
            </div><br>
            <button type="submit" name="submit">Submit</button>
            </form>



    </div>
</body>
</html>