<!DOCTYPE html>
<html>
<head>
    <title>admin page</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <form action="/admin/insert_school" method="POST">
            <div><input type="text" name="name" placeholder="School name" required></div>              
            <div><input type="text" name="city" placeholder="City" required>  </div>  
            <div><input type="text" name="address" placeholder="Address" required>    </div>
            <div><input type="text" name="principal_fn"  placeholder="Principal's first name" required> </div>                
            <div><input type="text" name="principal_ln"  placeholder="Principal's last name" required></div>
            <div><input type="text" name="email" placeholder="Email" required></div>
            <div><input type="text" name="phone" placeholder="Phone" required></div>  
            <button type="submit" name="register">Register</button>
            </form>



    </div>
</body>
</html>