<!DOCTYPE html>
<html>
<head>
  <title>operator requests</title>
  <style>
    .delete-button {
    float: right; /* Float the sidebar to the right */
    position: fixed;
    right: 5vw;
  }
  .approve-button {
    float: right; /* Float the sidebar to the right */
    position: fixed;
    right: 10vw;
}

    table {
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>
<body>
  <h1>Operator requests</h1>
  <table>
    <tr>
      
      
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>School</th>
      <th>birthday</th>
      
    </tr>
  <ul>
    {%for i in result%}
    <tr>
      <td>{{i[0]}}</td>
      
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td><form action="/admin/operator_requests" method="POST">
        <button type="submit" name="approve" value ="{{result.index(i)}}" >approve</button>
        <button type="submit" name="reject" value="{{ result.index(i) }}" >reject</button>
        
    </form></td>
      
          
    </tr>
        
    {%endfor%}
  </ul>
</body>
</html>