<!DOCTYPE html>
<html>
<head>
    <title>user info page</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        table {
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
        
    </style>
</head>
<body>
    <div class="container">

        <form action="/user/{{username}}/info" method="POST">
            {% if user_type=="student" %}

            <div><h3> Username:</h3> {{username}}</div><br>

            <div> <h3> First name:</h3>{{first_name}}</div><br>
            
            <div> <h3> Last name:</h3>{{last_name}}</div><br>

            <div> <h3> Birthday:</h3>{{birthday}}</div><br>
            
            <div><h3>Password:</h3> <input type="text" name="password" value="{{password}}"> </div>
            <br>
            <button type="submit" name="save">Save and exit</button>
            {% else %}

            <div><h3> Username:</h3> {{username}}</div><br>

            <div> <h3> First name:</h3><input type="text" name="first_name" value="{{first_name}}"></div><br>
            
            <div> <h3> Last name:</h3><input type="text" name="last_name" value="{{last_name}}"></div><br>

            <div> <h3> Birthday:</h3><input type="date" name="birthday" value="{{birthday}}"></div><br>
            
            <div><h3>Password:</h3> <input type="text" name="password" value="{{password}}"> </div>
            <br>
            <button type="submit" name="save">Save and exit</button>
            {%endif%}
        </form>

        <br>
        <br>
        <div><h2>Reviews:</h2></div>
        <table>
            <tr>
              
              
              <th>About:</th>
              <th>Likert rating:</th>
              <th>Text:</th>
              <th>Status:</th>
              
            </tr>
            
            {%for i in reviews%}
            <tr>
                <form action="/user/{{username}}/info" method="POST">
                <td>{{i[1]}}</td>
                
                <td><select name="likert">
                    {%for j in [1,2,3,4,5]%}
                    {%if j==i[2] %}
                    <option value="{{j}}" selected>{{j}}</option>
                    {% else%}
                    <option value="{{j}}" >{{j}}</option>
                    {%endif%}
                    {%endfor%}


                </select></td>
                <td><textarea name="text" rows="10" cols="50" >{{i[3]}}</textarea></td>
                <td>
                    {%if i[4]==1%} approved {%else%} waiting approval{%endif%}
                </td>
                <td><button type="submit" name="isbn" value="{{i[0]}}">Apply changes</button></td>
            </form>
                </tr>
              
            {% endfor %}  
        
        
            
          </table>



    </div>
</body>
</html>